@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .select-primary {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-full focus:ring-blue-500 focus:border-blue-500 inline-block p-1 px-2 h-7;
    }
}

:root {
  --accent-color: #6590FF;
  --promoted-color: #6ABF73;
  --alternate-color: #FFD600;
  --unselected-color: #D9D9D9;
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 6px 26px;
  border-radius: 10px;
}

.btn-primary:disabled {
  background-color: white;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 4px 26px;
  border: solid 2px var(--accent-color);
  border-radius: 10px; 
}

.btn-secondary {
  background-color: white;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 4px 26px;
  border: solid 2px var(--accent-color);
  border-radius: 10px; 
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #565656;
  font-family: "Poppins", sans-serif;
}


.labeled-input-container {
  display: block;
}

.labeled-input-container label {
  display: block;
  font-size: 16;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

.labeled-input-container input {
  background-color: #E3E1E1;
  border: none;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 0px 8px;
  color: #5F5D5D;
  font-weight: 500;
  height: 23px;
}

input {
  background-color: #E3E1E1;
  border: none;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 0px 8px;
  color: #5F5D5D;
  font-weight: 500;
  height: 23px;
  font-size: 10pt;
}

select {
  background-color: #E3E1E1;
  border: none;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 0px 8px;
  color: #5F5D5D;
  font-weight: 500;
  height: 23px;
  font-size: 10pt;
}

.judge-select {
  background-color: white;
  border: none;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 0px 8px;
  color: black;
  font-weight: 700;
  height: 23px;
  font-size: 10pt;
}

.labeled-input-container input:focus {
  outline: none !important;
  border-color: #5F5D5D;
}

.promoted-checkbox-container {
  cursor: pointer;
}

.promoted-checkbox-container .promoted-checkbox-checkmark {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--unselected-color);
}

.promoted-checkbox-container input {
  display: none;
}

.promoted-checkbox-container input:checked + .promoted-checkbox-checkmark {
  background-color: var(--promoted-color);
}

.adder-table {
  background-color: #D9D9D9;
}